$color: white;
$size: 25px;

@mixin pill() {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: $color;
  transition: all 0.7s cubic-bezier(0.1, 0.9, 0, 1.2);
}
.wrapper {
  display: block;
  position: relative;
  width: $size;
  height: $size;
  .bun {
    &:before {
      @include pill();
      top: 10%;
      right: 0;
    }
    &:after {
      @include pill();
      bottom: 10%;
      left: 0;
    }
    .burger {
      position: absolute;
      display: flex;
      align-items: center;
      height: $size;
      width: $size;

      &:before,
      &:after {
        @include pill();
      }
    }
  }
  input {
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: $size;
    height: $size;
    pointer-events: none;
    &:hover ~ .bun {
      &:before,
      &:after,
      :before,
      :after {
        background: darken($color, 5);
      }
    }
    &:checked ~ .bun {
      &:before,
      &:after {
        width: 0;
      }
      .burger {
        &:before {
          transform: rotate(180deg);
        }
        &:after {
          transform: rotate(90deg);
          // box-shadow: 0 0 0 0 lighten($color, 35);
        }
      }
    }
  }
}
